{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre.id }}</td>
            </tr>
            <tr>
                <th>DateCandidature</th>
                <td>{{ offre.dateCandidature ? offre.dateCandidature|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ offre.entreprise }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ offre.lieu }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ offre.url }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ offre.contact }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ offre.reponse ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Reponse_at</th>
                <td>{{ offre.reponseAt ? offre.reponseAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lettre_motivation</th>
                <td>{{ offre.lettreMotivation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ offre.type }}</td>
            </tr>
            <tr>
                <th>Relance_at</th>
                <td>{{ offre.relanceAt ? offre.relanceAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Freelance</th>
                <td>{{ offre.freelance ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offre_index') }}">back to list</a>

    <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
